.div1{
    border: 2px solid silver;
    margin: 70px;
    margin-left: 20%;
    margin-right: 20%;
}

.div2{
    margin: 10px;
}

h1{
    text-align: center;
    background-color: blue;
    color: yellow;
    padding-top:5px ;
    padding-bottom:5px ;
}

span{
    color: red;
    text-transform: uppercase;
}

h3{
    color: green;
}