div{
    background-color: peachpuff;
}

h1{
    color: brown;
}

.span1{
    background-color: aqua;
}
.span2{
    background-color: blueviolet;
}
.span3{
    background-color: red;
}
.span4{
    background-color: aqua;
}
.span5{
    background-color: blueviolet;
}
.span6{
    background-color: red;
}

