.container{
    display: flex;
    background-color: purple;
}

.container > p{
    background-color: whitesmoke;
    margin: 10px;
    padding: 30px;
    font-size: 10px;
    margin-bottom: 100px;
}

